state.json
{
  "Comment": "Role Creation Process",
  "StartAt": "IsValidRequestType",
  "States": {
    "IsValidRequestType": {
      "Type": "Choice",
      "Choices": [
        {
          "Or": [
            {
              "Variable": "$.type",
              "StringEquals": "iam"
            },
            {
              "Variable": "$.type",
              "StringEquals": "sns_topic"
            },
            {
              "Variable": "$.type",
              "StringEquals": "s3_bucket"
            },
            {
              "Variable": "$.type",
              "StringEquals": "vpce"
            }
          ],
          "Next": "EvaluatePolicy"
        }
      ],
      "Default": "InvalidType"
    },
    "EvaluatePolicy": {
      "Type": "Task",
      "Resource": "${EvaluatePolicyLambdaFunction.Arn}",
      "TimeoutSeconds": 10,
      "Next": "IsCompliant"
    },
    "InvalidType": {
      "Type": "Fail"
    },
    "IsCompliant": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.result",
          "StringEquals": "COMPLIANT",
          "Next": "CreateRoles"
        }
      ],
      "Default": "NonCompliant"
    },
    "CreateRoles": {
      "Type": "Task",
      "Resource": "${CreateRoleLambdaFunction.Arn}",
      "Next": "VerifyRoles",
      "TimeoutSeconds": 10
    },
    "VerifyRoles": {
      "Type": "Task",
      "Resource": "${VerifyRoleLambdaFunction.Arn}",
      "Next": "Verify",
      "TimeoutSeconds": 10,
      "Retry": [
        {
          "ErrorEquals": ["RetryError"],
          "IntervalSeconds": 10,
          "BackoffRate": 1.0,
          "MaxAttempts": 500
        }
      ]
    },
    "NonCompliant": {
      "Type": "Fail"
    },
    "RolesCreated": {
      "Type": "Succeed"
    }
  }
}
